@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

/* Force scrollbar */
html {
	overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
	vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
	cursor: pointer;
}

strong {
	font-weight: bold;
	font-family: inherit;
	font-size: inherit;
}

em {
	font-style: italic;
}

img {
	width: 100%;
	border: 0;
	vertical-align: middle;
}

sub,
sup {
	vertical-align: baseline;
	position: relative;
	font-size: 55%;
	line-height: 0;
}

sup {
	top: -0.7em;
}

sub {
	bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
	display: table;
	content: " ";
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

/*============================
  For All
=============================*/
body {
	box-sizing: border-box;
	font-family: "Source Sans Pro", sans-serif;
}

a {
	display: inline-block;
	text-decoration: none;
}

li {
	display: inline-block;
	list-style-type: none;
}

::before,
::after {
	font-family: FontAwesome;
}

/* For Wrapper */
.wrapper {
	width: 63.15%;
	max-width: 1536px;
	margin: 0 auto;
}

/*============================
  Header section
=============================*/
.header {
	background-color: #f6eddc;
}

.toggler,
.hamburger {
	display: none;
}

.header .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu ul {
	display: flex;
	align-items: center;
}

.header h1 a {
	margin: 25px 0;
	color: #000;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.header .menu a:not(.searchbar) {
	padding-left: 30px;
	color: #000;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.menu a:not(.searchbar):hover {
	color: #f8a883;
	transition: .3s ease-in-out;
}

.menu .searchbar {
	padding: 10px;
	padding-right: 100px;
	border: 1px solid #e1dad3;
	border-radius: 20px;
	margin: 0 0 0 20px;
	background-color: #fff;
	color: #7e797f;
	font-size: 13px;
	font-weight: 200;
	text-indent: 10px;
}

.searchbar::after {
	position: relative;
	content: '\f002';
	font-size: 20px;
	left: 50%;
}

.cart {
	text-indent: -9999px;
}

.cart::before {
	float: right;
	content: '\f07a';
	color: #7e797f;
	font-size: 20px;
	text-indent: 0;
}

/* Pop-Up */
.popup {
	margin: 20px auto;
	display: block;
	color: #91b7b9;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
}

.popup::first-letter {
	text-transform: uppercase;
}

/* Like-Love */
.like {
	background-color: #f4f9fc;
}

.like .wrapper {
	padding: 40px 0;
}

.like h2 {
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	text-transform: capitalize;
}

.like p {
	width: 67.5%;
	margin: 25px auto 30px;
	font-size: 15px;
	line-height: 1.5;
	text-align: center;
}

.like p::first-letter {
	text-transform: capitalize;
}

.like a {
	box-sizing: border-box;
	width: 200px;
	padding: 20px;
	background-color: #f8a883;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
}

.like a:hover {
	background-color: #7e797f;
	transition: .5s ease-in;
}

.like ul {
	display: flex;
	justify-content: center;
}

.like ul li {
	margin: 0 15px;
}

/* Peek Monthly */
.monthly .wrapper {
	padding: 100px 0 0 0;
}

.monthly h3 {
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	text-transform: capitalize;
}

.monthly h3~span {
	width: 67.5%;
	margin: 50px auto;
	display: block;
	text-align: center;
	font-size: 15px;
}

.monthly h3~span {
	text-transform: capitalize;
}

.monthly img {
	width: 80%;
	height: 30%;
	border-radius: 10px;
	display: block;
}

.monthly ul {
	display: flex;
	justify-content: space-between;
	flex-basis: 33.33%;
	text-align: -webkit-center;
}

.monthly ul span {
	margin: 40px 0 60px 0;
	display: block;
	text-transform: capitalize;
}

.monthly a {
	box-sizing: border-box;
	width: 27%;
	padding: 20px 0px;
	border: 1px solid black;
	margin: 0 auto;
	display: block;
	color: black;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
}

.monthly a:hover {
	background-color: #000;
	color: #fff;
	transition: .5s ease-in;
}

.monthly .wrapper::after {
	height: 3px;
	margin-top: 60px;
	display: block;
	content: "";
	background-color: #f0f0ab;
}

/* What-Works */
.What-Works h3 {
	margin-top: 60px;
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	text-transform: capitalize;
}

.What-Works h3~span {
	width: 67.5%;
	margin: 30px auto 50px;
	display: block;
	font-size: 15px;
	text-align: center;
}

.What-Works h3~span::first-letter {
	text-transform: capitalize;
}

.What-Works h4 {
	padding: 30px 0;
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
}

.What-Works img {
	width: 80%;
	height: 30%;
	border-radius: 10px;
	display: block;
}

.What-Works ul {
	display: flex;
	justify-content: space-between;
	flex-basis: 33.33%;
	text-align: -webkit-center;
}

.What-Works ul span {
	width: 90%;
	margin-bottom: 30px;
	display: block;
	text-transform: capitalize;
}

.What-Works a {
	box-sizing: border-box;
	width: 27%;
	padding: 20px 0px;
	border: 1px solid black;
	margin: 0 auto;
	display: block;
	color: black;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
}

.What-Works a:hover {
	background-color: #000;
	color: #fff;
	transition: .5s ease-in;
}

.What-Works .wrapper::after {
	height: 3px;
	margin-top: 60px;
	display: block;
	content: "";
	background-color: #f0f0ab;
}

/* Meet */
.meet h3 {
	margin-top: 60px;
	font-size: 25px;
	font-weight: 600;
	text-transform: capitalize;
	text-align: center;
}

.meet img {
	margin: 50px auto 40px;
}

.meet a {
	box-sizing: border-box;
	width: 27%;
	padding: 20px 0px;
	border: 1px solid black;
	margin: 0 auto;
	display: block;
	color: black;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
}

.meet a:hover {
	background-color: #000;
	color: #fff;
	transition: .5s ease-in;
}

.meet .wrapper::after {
	height: 3px;
	margin-top: 60px;
	display: block;
	content: "";
	background-color: #f0f0ab;
}

/* Featured */
.featured h5 {
	margin-top: 60px;
	font-size: 25px;
	font-weight: 600;
	text-transform: capitalize;
	text-align: center;
}

.featured img {
	padding: 40px 5px;
}

.featured ul {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	flex-basis: 50%;
}

.featured a {
	box-sizing: border-box;
	width: 27%;
	padding: 20px 0px;
	border: 1px solid black;
	margin: 0 auto;
	display: block;
	color: black;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
}

.featured a:hover {
	background-color: #000;
	color: #fff;
	transition: .5s ease-in;
}

.featured .wrapper::after {
	height: 3px;
	margin-top: 60px;
	display: block;
	content: "";
	background-color: #f0f0ab;
}

/* footer */
footer .wrapper {
	position: relative;
}

footer {
	margin-top: 60px;
	background-color: #f6eddc;
}

.footer-top {
	display: flex;
	justify-content: space-between;
}

.footer-top .left,
.footer-top .right {
	display: flex;
	flex-basis: 50%;
	flex-flow: column wrap;
}

.top-left li {
	width: 100%;
}

.top-left {
	display: flex;
	justify-content: space-between;
}

footer .wrapper>h6 {
	padding: 25px 0;
	color: #000;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.top-left a {
	margin-bottom: 30px;
	display: block;
	color: #000;
	font-size: 15px;
	font-weight: 600;
	text-transform: capitalize;
}

.top-left a:hover {
	color: #f8a883;
	transition: .3s ease-in-out;
}

.top-left a.ireland {
	display: flex;
	align-items: center;
}

.top-left .ireland::before {
	content: url("https://icons.iconarchive.com/icons/custom-icon-design/all-country-flag/24/Ireland-Flag-icon.png");
	padding-right: 10px;
}

.right ul {
	margin-left: 30px;
}

.right label {
	margin-bottom: 20px;
	display: block;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
}

.right input {
	padding: 20px 10px;
	border: none;
	margin-bottom: 45px;
	display: inline-block;
	text-transform: uppercase;
}

.right input[type="email"] {
	padding-right: 20%;
}

.right input[type="submit"] {
	padding-right: 5%;
	background-color: #4b4a4e;
	color: #fff;
}


.right span {
	width: max-content;
	margin-bottom: 40px;
	display: block;
	background-color: #fbf65c;
	font-size: 14px;
	font-weight: 600;
}

.right span:hover {
	border-radius: 10px;
	background-color: #f8a883;
	transition: .3s ease-in-out;
}

.right span::first-letter {
	text-transform: uppercase;
}

.right h6 {
	margin-bottom: 15px;
	display: block;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
}

.store {
	margin-right: 10px;
	color: #000;
	font-size: 14px;
	font-weight: 600;
	text-transform: capitalize;
}

.store:hover {
	color: #ff8147;
	transition: .3s ease-in-out;
}

.store::before {
	padding-right: 10px;
	font-size: 20px;
}

.ios::before {
	content: "\f179";
}

.android::before {
	content: "\f17b";
}

.bottom-footer {
	padding: 35px 0;
}

.bottom-footer ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
}

.bottom-footer a:not(.icon) {
	padding-right: 60px;
	color: #000;
	font-size: 15px;
	font-weight: 600;
	text-transform: capitalize;
}

.bottom-footer a:hover {
	color: #ff8147;
	transition: .3s ease-in-out;
}

.icon::before {
	padding-left: 60px;
	float: left;
	content: "";
	color: #000;
	font-size: 22px;
	text-indent: 0;
}

.icon::before:hover {
	color: #ff8147;
	transition: .3s ease-in-out;
}

.bottom-footer a.copyright {
	padding-right: 20px;
}

.fb::before {
	padding-left: 0;
	content: "\f082";
}

.tweet::before {
	content: "\f099";
}

.pin::before {
	content: "\f0d2";
}

.utube::before {
	content: "\f167";
}

.insta::before {
	content: "\f16d";
}

.icon {
	text-indent: -9999px;
}

/*============================
  Media Queries
=============================*/
@media only screen and (max-width: 1455px) {
	.bottom-footer ul {
		width: 100%;
		text-align: center;
		justify-content: space-evenly;
	}

	.bottom-footer ul li {
		margin: 5px auto;
	}

	.featured ul {
		width: max-content;
		flex-flow: column wrap;
	}
}

@media only screen and (max-width: 1280px) {

	/* ////////////////✅Hamburger✅///////////////// */
	.menu-wrap {
		width: 100%;
	}

	.hamburger-lines {
		display: none;
	}

	.toggler {
		display: block;
	}

	.menu-wrap .menu li {
		display: list-item;
	}

	.menu {
		background: transparent;
		padding: 0;
	}

	.hamburger-lines .line {
		text-indent: -99999px;
	}

	.header .menu a:not(.searchbar) {
		padding-left: 30px;
		color: #000;
		font-size: 32px;
		font-weight: 600;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	.menu .searchbar {
		font-size: 30px;
		text-align: left;
	}

	.searchbar::after {
		left: 70%;
	}

	/* ////////////////✅Hamburger✅///////////////// */
	.menu-wrap {
		width: 100%;
	}

	.hamburger-lines {
		display: none;
	}

	.toggler {
		display: block;
	}

	.menu-wrap .menu li {
		display: list-item;
	}

	.menu {
		background: transparent;
		padding: 0;
	}

	.yellow {
		display: none;
	}

	.hamburger-lines .line {
		text-indent: -99999px;
	}

	/* MENU STYLES */
	.menu-wrap {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
	}

	.menu-wrap .toggler {
		width: 40px;
		height: 40px;
		position: fixed;
		z-index: 2;
		top: 10px;
		right: 15px;
		cursor: pointer;
		opacity: 0;
	}

	.menu-wrap .hamburger {
		width: 40px;
		height: 30px;
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: fixed;
		z-index: 1;
		top: 10px;
		right: 10px;
		background: #fff;
	}

	/* creating hamburger line */
	.hamburger-lines {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 30px;
		width: 40px;
		border-radius: 15px;
		position: relative;
		z-index: 10;
	}

	.hamburger-lines .line {
		display: block;
		position: relative;
		height: 5px;
		width: 100%;
		background-color: dimgray;
		border-radius: 15px;
	}

	.menu-wrap .toggler:checked~.menu {
		visibility: visible;
	}

	.menu-wrap .toggler:checked~.menu>div {
		height: 100vh;
	}

	.toggler:checked .banner {
		display: none;
	}

	/* Hamburger toggler animation  */
	.menu-wrap .toggler:checked~.hamburger {
		width: 25px;
		transform: rotate(270deg);
		transition: transform 700ms ease-in-out;
		border: 5px solid dimgray;
	}

	.menu-wrap .menu {
		width: 100%;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		overflow: hidden;
		position: relative;
		top: 0;
		left: 0;
		visibility: hidden;
	}

	.menu-wrap .menu>div {
		background: rgba(102, 120, 124, 0.93);

		width: 100vw;
		/* percentage value not working */
		height: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 0;
		-ms-flex: none;
		flex: none;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}

	.menu-wrap .menu>div>ul {
		position: absolute;
		top: 40%;
		left: 50%;
		text-align: center;
		transform: translate(-50%, -50%);
		transition: opacity 0.5s ease;
		width: 90%;
		flex-direction: column-reverse;
	}

	.menu-wrap .menu>div>ul>li {
		width: inherit;
		padding: 30px 0;
		display: block;
		list-style: none;
	}

	.menu-wrap .menu>div>ul>li>a {
		color: #fff;
		font-size: 34px;
		text-decoration: none;
		padding: 5px 25px;
	}

	.menu-wrap .menu a:hover {
		color: #f8a883;
		transition: 0.5s ease-in-out;
	}

	/* hamburger line X */
	.hamburger-lines .line1 {
		transform-origin: 0% 0%;
		transition: transform 0.3s ease-in-out;
	}

	.hamburger-lines .line3 {
		transform-origin: 0% 100%;
		transition: transform 0.3s ease-in-out;
	}

	.toggler:checked~.hamburger .hamburger-lines .line1 {
		transform: rotate(45deg);
	}

	.toggler:checked~.hamburger .hamburger-lines .line2 {
		display: none;
	}

	.toggler:checked~.hamburger .hamburger-lines .line3 {
		transform: rotate(-45deg);
	}

	/* ////////////////❌Hamburger❌///////////////// */
	.right input[type='email'] {
		padding-right: 0;
	}
}


@media only screen and (max-width: 995px) {
	.right input[type='email'] {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 768px) {
	.like ul {
		flex-direction: column;
		text-align: center;
	}

	.like ul li {
		margin-bottom: 10px;
	}

	.monthly ul {
		flex-flow: column;
	}

	.monthly a {
		width: max-content;
		padding: 20px 10px;
	}

	.What-Works ul {
		flex-flow: column wrap;
	}

	.What-Works a {
		width: max-content;
		padding: 20px 10px;
	}

	.meet a {
		width: max-content;
		padding: 20px 10px;
	}

	.featured a {
		width: max-content;
		padding: 20px 10px;
	}

	.footer-top {
		flex-flow: column wrap;
	}

	hr {
		display: none;
	}

	.bottom-footer ul {
		flex-flow: column wrap;
	}

	.bottom-footer a:not(.icon) {
		padding: 0;
	}

	.icon::before {
		padding-left: 0;
	}
}